body { padding-top: 70px;
background: #C13636; 
}

#navbarz {
	background: #C13636;
	font-family: JCkg;
	font-size: 20px;
	padding: 2%;
	border-width: 0;
	
}

#navbarz li a {
	color: #E7E3E8;
}

#navbarz a:hover {
	text-decoration: underline;
}

#navbarz .navbar-brand {
	color: #E7E3E8;
	font-family: SignPainter-HouseScript;
	font-size: 45px;
}

#giantbox {
	text-align: center;
}

#giantboxp {
	text-align: center;
}


#giantbox h1 {
	color: #E7E3E8;
	font-family: SignPainter-HouseScript;
	font-size: 160px;
	font-size: 23vmax;
	padding-top: 4%;

}

#giantboxp h1 {
	color: #E7E3E8;
	font-family: SignPainter-HouseScript;
	font-size: 160px;
	font-size: 18vmax;
	padding-top: 4%;

}

#giantbox p {
	color: #E7E3E8;
	font-family: JCkg;
	font-size: 180%;
	margin-top: -3%;
}

#giantboxp p {
	color: #E7E3E8;
	font-family: JCkg;
	font-size: 180%;
	margin-top: 2%;
}

#footer {
	color: #E7E3E8;
	font-family: JCkg;
	font-size: 100%;
	text-align: center;
	
}

#footer p {
	font-size: 1.5vh;
	
}

#footer #f {
	margin-bottom: 0px;
	
}

.about {
	padding: 10%;
}

.about #text {
	font-size: 4vh;
	color: white;
	background-color: gray;
	margin: 20px;
}

.about #info {
	font-size: 4vh;
	color: white;
	background-color: black;
	margin: 20px;

}

.about #info li a {
	text-decoration: none;
	
}
.about #info ul li {
	list-style-type: none;
	
}




